body {
    font-family: Nunito;
}
.main-content {
    background-image: url('../assets/images/footer_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 80%;
    padding-bottom: 5%;
}

body {
    font-family: Nunito;
}
.container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 15%;
}

.ai_image{
    width: 125%;
    height: 125%;
    background-image: url(../assets/images/ai_image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.search-box{
    width: 40%;
    border-radius: 25px;
    line-height: 3;
    padding-left: 50px;
    border: 3px solid #FF9900;
    background-image: url(../assets/images/search.png);
    background-size: 30px;
    background-position: 10px;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
}

.search-box::placeholder{
    color: #000000;
    font-size: 15px;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    font-size: 30px;
    font-weight: 1200;
    color: #29218A;
}

.text-container{
    margin-top: 2%;
    margin-left: 17%;
    margin-right: 15%;
}

.text-image1{
    width: 60%;
    height: auto;
    margin-top: 5%;
}

.text-image2{
    margin-top: 5%;
    width: 60%;
    height: auto;
    padding-left: 35%;
}


@media screen and (min-width: 600px) {
    .logo {
        width: 175px;
        height: 150.2px;
    }
}
.logo{
    width: 30%;
    height: auto;
    mix-blend-mode: darken;
    padding-left: 7%;
}

.logo:hover {
    cursor: pointer;
}
footer {
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 38.19px;
    text-align: left;
}
footer a {
    color: black;
}


.link-columns > div:first-child {
    margin-left: 10%;
}
.link-columns > div:last-child {
    margin-left: 150px !important;
    margin-right: 0;
}
.footer{
    padding-top: 2%;
    display: flex; 
    align-items: center;
    margin-right: 0;
    background-image: url('/assets/images/footer_background.png');
    background-position: 90% 90%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2%;
}


.link-columns {
    display: flex;
    justify-content: space-between;
}
.subscribe input[type="email"] {
    width: 150%;
    line-height: 2.5;
    outline: none;
    margin-top: 0;
    margin-bottom: 10px;
    border: 3px solid #FF9900;
    border-radius: 13px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px #888888;
}


button[type="submit"] {
    background-color: white;
    color: black;
    font-family: 'Nunito', sans-serif;
    border-radius: 11px;
    border: 0;
    padding: 10px 20px;
    font-weight: 549;
    font-size: medium;
    position: absolute;
    right: 220px;
    top: 223.5%;
    transform: translate();
    width: auto;
    height: 35px;
    font-size: 15px;
    /* border: 1px solid #FF9900; */
    font-weight: 500;
}

button[type="submit"]:hover {
    background-color: #ffae34;
    color: white;
    cursor: pointer;
}

input[type="email"]::placeholder {
    color: #b8b3b3; 
    font-size: 1em; 
    text-align: left !important;
    padding-left: 3%;
}
.link-columns > div {
    display: flex;
    flex-direction: column;
}
.link-columns > div:last-child {
    margin-left: 400px;
}

.PoweredBy {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    background-color: #FEF6C8;
    height: 50px;
}

.subtext {
    margin-top: 30px;
    margin-bottom: 0px;
}

.right {
    margin-left: 25%;
}