body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Nunito;
    background-image: url("../assets/images/footer_background.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    position: absolute;
    width: 15%;
    height: auto;
    top: 1%;
    left: 1%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 12%;

}

.input-email{
    margin-bottom: 10px;
    border-radius: 25px;
    /* width: 100%; */
    line-height: 2.5;
    border: 2.5px solid #FF9900;
    background-image: url("../assets/images/login/email.png");
    background-position: 20px center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 50px;
}

.input-wrapper{
    position: relative;
    /* width: 250px; */
}
.input-password {
    margin-bottom: 10px;
    border-radius: 25px;
    /* width: 100%; */
    line-height: 2.5;
    border: 2.5px solid #FF9900;
    background-image: url("../assets/images/login/password.png");
    background-position: 20px center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 50px;
}

.eye-button {
    background-image: url("../assets/images/login/eye.png");
    width: 20px;
    height: 20px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 45%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    border: 0px;
}
/* .eye-button {
    margin-left: 200px;
    border-radius: 25px;
    height: 36px;
    border: 0px;
    background-image: url("../assets/images/login/eye.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-color: white;
    padding-left: 30px;
    padding-right: 10px;
    margin-bottom: 10px;
    background-position: center;
    position: absolute;
    right: -50px;
    top: 40%; 
    transform: translateY(-50%); 
} */

/* .eye-button:hover {
    cursor: pointer;
    color: azure;
} */

.forgot-password {
    margin-bottom: 10px;
    text-decoration: underline;
}

.login-button {
    margin-bottom: 10px;
    background-color: #29218A;
    border-radius: 25px;
    height: 40px;
    width: 125px;
    font-size: 20px;
    color: white;
    font-weight: 400px;
    border: 0px;
}

.or-text {
    margin-bottom: 10px;
}

.google-button {
    margin-bottom: 10px;
    background-size: 10% 80%;
    background-repeat: no-repeat;
    border-radius: 25px;
    height: 40px;
    width: 275px;
    border: 4px solid #FFE500;
    font-size: 17px;
    background-color: white;
    background-image: url("../assets/images/login/google.png");
    background-position: 25px center;
    padding-left: 35px;
}

.google-button:hover {
    cursor: pointer;
    background-color: rgb(234, 234, 234);
}

.register-link {
    margin-bottom: 10px;
}