@import url('https://fonts.googleapis.com/css?family=Nunito');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Nunito'; /* Set font family */
}
nav ul{
  list-style: none;
  padding:0;
  background:transparent;


}
.nav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

nav ul li a{
  color:black;
  text-decoration: none;
  padding: .8rem 1rem;
  display: block;
  line-height: 1;

}
nav ul li{
  border-bottom: 1px dotted #ddd;

}
/*styling logo*/

nav div:first-child{
  background:transparent;


}
nav div:first-child h1{

  line-height: 0;
  padding: .8rem 0rem;
  text-align: center;

}

nav div:first-child h1, nav ul{
  margin:0;


}

/* Existing CSS */

/* Styling for larger devices */
@media only screen and (min-width: 30em){
  nav{
    margin:0;
    display: flex;
    justify-content: space-between;
    background:transparent;
    align-items: center;
  }
  
  nav ul{
    margin:0;
    display: flex;
    align-items: center;
    background:none;
    flex-wrap: wrap;
  }
  nav div:first-child h1 {
    padding: 0;
  }
  
  nav div:first-child img {
    margin: 0%;
    height: 130px; /* Set the height of the logo */
    width: 40x; /* Set the width of the logo */
  }
  
  nav ul li{
    border-bottom:none;
    flex: 1 0 auto;
    position: relative;
    margin-top: 0px;
  }
  nav ul li a{
    padding:1.2rem 1rem;
  }
  nav ul li a::before, nav ul li a::after{
    content: "";
    position: absolute;
    bottom:0;
    right: 0;
    width:0%;
    height: 2px;
    background:orange;
    transition: .2s width ease-in-out;
  }
  
  nav ul li a::before{
    left:0;
  }
  
  nav ul li a:hover::after,nav ul li a:hover::before{
    width: 50%;
  } 
}

/* New CSS for smaller devices */
@media only screen and (max-width: 30em){
  nav {
    display: block;
    text-align: center;
  }
  
  nav ul {
    display: block;
  }
  
  nav ul li {
    border-bottom: 1px dotted #ddd;
    margin-top: 0.5rem;
  }
  
  nav ul li:last-child {
    border-bottom: none;
  }
  
  nav ul li a {
    display: block;
    padding: 1rem;
  }
}

/*Footer____________________________________________________*/
@media screen and (min-width: 600px) {
  .logo {
      width: 175px;
      height: 150.2px;
  }
}
.logo{
  width: 30%;
  height: auto;
  mix-blend-mode: darken;
  padding-left: 7%;
}

.logo:hover {
  cursor: pointer;
}
footer {
  padding-left: 0px;
  padding-right: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 38.19px;
  text-align: left;
}
footer a {
  color: black;
}


.link-columns > div:first-child {
  margin-left: 10%;
}
.link-columns > div:last-child {
  margin-left: 150px !important;
  margin-right: 0;
}
.footer{
  display: flex; 
  align-items: center;
  margin-right: 0;
}


.background-image{
  background-image: url('../assets/images/footer_background.png');
  background-position: 90% 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

.link-columns {
  display: flex;
  justify-content: space-between;
}
.subscribe input[type="email"] {
  width: 150%;
  line-height: 2.5;
  outline: none;
  margin-top: 0;
  margin-bottom: 10px;
  border: 3px solid #FF9900;
  border-radius: 13px;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px #888888;
}


button[type="submit"] {
  background-color: white;
  color: black;
  font-family: 'Nunito', sans-serif;
  border-radius: 11px;
  border: 0;
  padding: 10px 20px;
  font-weight: 549;
  font-size: medium;
  position: absolute;
  right: 244px;
  top: 18%;
  transform: translate();
  width: auto;
  height: 36px;
  font-size: 15px;
  /* border: 1px solid #FF9900; */
  font-weight: 500;
}

button[type="submit"]:hover {
  background-color: #ffae34;
  color: white;
  cursor: pointer;
}

input[type="email"]::placeholder {
  color: #b8b3b3; 
  font-size: 1em; 
  text-align: left !important;
}
.link-columns > div {
  display: flex;
  flex-direction: column;
}
.link-columns > div:last-child {
  margin-left: 400px;
}

.PoweredBy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #FEF6C8;
  height: 50px;
}

.subtext {
  margin-top: 30px;
  margin-bottom: 0px;
}

.right {
  margin-left: 25%;
}

/* ___________________About page_________________________ */
body {
    background-image: url('Images/image1.png');
    /* Adjust background image properties as needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.header {
    display: flex;
    align-items: center; 
    width: 50%;
}



.nav-bar {
    flex: 1;
    display: flex;
    align-items: center; /* Align vertically */
    margin-top: 10px;
    justify-content: space-around;
}

/* Styles for the navigation links */
.nav-bar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Hover effect on navigation links */
.nav-bar a:hover {
    color: #555;
}

.profile-link {
    margin-left: 5px; /* Add some spacing between the last link and the profile image */
    display: flex; /* Align items in a row */
    align-items: center; /* Align vertically */
}

.profile-link img {
    height: 30px; /* Adjust the height of the profile image */
    margin-left: 5px; /* Add some spacing between the profile image and the link text */
}

/* Style for the "About" heading */
.about-container {
    text-align: center; /* Center the content */
    margin-top: 30px; /* Add space between the navigation bar and the "About" heading */
}

.about-heading {
    color: #29218A; /* Set color to #29218A */
    font-size: 42px; /* Set font size */
    font-weight: 800; /* Set font weight */
    line-height: 57.29px; /* Set line height */
    text-align: center; /* Center the text */
}

/* Style for the brain image */
.brain-img {
    margin-right: 20px; /* Add some spacing between the image and the text */
    height: 270px;
    float: left; /* Float the image to the left */
}


.aligned {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: 40px;
}
  
span {
    padding: 10px;
    font-size: 20px;
    margin-left: 20px;
    color: #29218A;

}
@media screen and (min-width: 600px) {
    .logo {
        width: 175px;
        height: 150.2px;
    }
}
.logo{
    width: 40%;
    height: auto;
}


.link-columns {
    display: flex;
    justify-content: space-between;
}

.link-columns > div {
    display: flex;
    flex-direction: column;
}
.link-columns > div:last-child {
    margin-left: 400px;
}

main {
    padding: 20px;
}

section {
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}

.wrapper {
    max-width: 75%;
    margin: auto;

  }
  
  .wrapper > p,
  .wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
    color: #29218A;
    font-size: 40px;
  }
  
  .wrapper > h1 {
    letter-spacing: 3px;
  }
  /*_________________CODE FOR FAQ PAGE __________________*/
  
  .accordion {
    background-color: white;
    border-radius: 40px;
    border: 1px solid #FFE500;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  
  .accordion i {
    font-size: 1.6rem;
    border-color: #FFE500;

  }
  
  .active,
  .accordion:hover {
    background-color:white;
    border:1px #FFE500; 
  }
  
  .pannel {

    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color:white;
    display: none;
    border-radius: 25px;
  }
  .pannel p {

    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;

  }
  
  .faq {

    margin: 10px 0;
  }
  .wrapper .faq.active {
    border: 2px solid #FFE500;
    border-radius: 25px;
  }
  
  .faq.active {

    border: 2px solid #FFE500;
    border-radius: 25px
 
  }
/*_________________code for pricing page_______________________*/

  /* Code for pricing page */
  .pricing-table{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px, 100%);
    margin: auto;
    

  }
  
  .pricing-card{
    flex: 1;
    max-width: 300px;
    background-color: #fff;
    margin: 50px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #29218A;
    transition: .3s linear;  
background: #FFFFFF;
border: 2px solid #FFE600;
box-shadow: 0px 4px 4px #E3DBCE;
border-radius: 50px;
    
  }
  
  .pricing-card-header{
    top : -90px;
    background-color:#FF9900;
 display: inline-block;
    color: #fff;
    padding: 12px 30px;
    border-radius: 25px;
    word-wrap: break-word;
    height:60px;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    
  }
  

  .pricing-card li{
    font-size: 16px;
 
    padding: 10px 0;
  

  }
  
  .order-btn{
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 20px;
    border: 2px solid#FFE600;
    color:orange;
    padding: 10px 10px;
    border-radius: 8px;
    font-weight: 500;
    transition: .3s linear;
  }
  
 
  
  @media screen and (max-width:1100px){
    .pricing-card{
      flex: 50%;
    }
  }
  .priceblock{
    margin-top: 30px;    
  }
  .price-head {
    margin-top: 20%; /* Adjusted margin-top as a percentage for responsiveness */
    margin-left: 5.6%; /* Adjusted margin-left as a percentage for responsiveness */
    border-radius: 50%;
    text-align: center;
    font-size: 21.6px;
    color: white;
    position: absolute;
    top: -5px;
  }
  

  /*_________________code for chat page_______________________*/
  .input-with-arrow {
    position: relative;
    display: inline-block;
    width: calc(60% - 20px); /* Adjust margin from both ends */
    align-items: center;
    margin-left: 30px;
    margin-top: 40px;

  }
  .input-with-arrow input[type="text"] {
    width: calc(100% - 20px); /* Adjust margin from both ends */
    padding-right: 30px; /* Space for the arrow */
    border-radius: 12px;
    margin-right: 130px;
    padding: 10px;
  }
  .input-with-arrow i {
    position: absolute;
    top: 50%;
    right: 25px; /* Adjust position of the arrow */
    transform: translateY(-50%);
  }


  

  