<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jugado</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>


  <nav>
    <div>
      <h1><a href="#"><img src="../static/images/logo.png" alt="logo"></a></h1>
    </div>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/pricing">Pricing</a></li>
      <li><a href="/faq">Help</a></li>
      <li> <a href="#" class="profile-link">
          <h6><img src='../static/images/profile.svg' alt='User'></h6>
        </a>
    </ul>

  </nav>

  <div class="about-container">
    <h2 class="about-heading">About</h2>
    <div class="about-content">
    </div>
  </div>
  <div class="aligned">
    <img src="../static/images/Brain.png" width="200" alt="">

    <span>We provide the best responses in forms of texts, images, and emojis. We are going to improving it daily and
      making our models more trained.</span>
  </div>
  <div class="aligned">
    <span>We provide the best responses in forms of texts, images, and emojis. We are going to improving it daily and
      making our models more trained.</span>
    <img src="../static/images/Bulb.png" width="200" alt="">


  </div>
  <div class="aligned">
    <img src="../static/images/AI.png" width="200" alt="">

    <span>We provide the best responses in forms of texts, images, and emojis. We are going to improving it daily and
      making our models more trained.</span>
  </div>



  <footer>
    <div class="footer">
      <div>
        <div>
          <img src="../static/images/logo.png" alt="logo" class="logo">
        </div>
        <div class="link-columns">
          <div>
            <a href="#">Research</a>
            <a href="#">Blogs</a>
            <a href="#">Disclaimer</a>
            <a href="#">Careers</a>
          </div>
          <div>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms and Conditions</a>
          </div>
        </div>
      </div>
      <div class="right">
        <p class="subtext">Subscribe To Our E-Newsletter</p>
        <div class="ButtonF">
          <button type="submit">Subscribe</button>
        </div>
        <div class="subscribe">
          <input type="email" name="email" placeholder="Write e-mail" required>
        </div>
      </div>
    </div>



    <div class="PoweredBy">
      <p>Powered By Jugaado | All Rights Reserved.</p>
    </div>
  </footer>

</body>

</html>