<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frequently Asked Questions</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"> 
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav>
      <div>
      <h1><a href="#"><img src="../../assets/images/about/logo.png" alt="logo"></a></h1>
    </div>
      
      <ul>
           <li><a href="../main/home.html">Home</a></li>
           <li><a href="../main/About.html">About</a></li>
           <li><a href="../main/Pricing.html">Pricing</a></li>
           <li><a href="../main/FAQ.html">Help</a></li>
         <li>  <a href="#" class="profile-link">
            <h6><img src='../../assets/images/profile.svg' alt='User'></h6>
          </a>
      
        </ul>
      
  </nav>

    <div class="wrapper">

      <h1>Frequently Asked Questions</h1>

      <div class="faq">
        <button class="accordion">
            Q. How do you collect the data and train your models?
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
          <p>
            A. We collect the data and train our models regularly. We collect the data which is totally safe and no violations of rules and privacy of user.
          </p>
        </div>
      </div>

      <div class="faq">
        <button class="accordion">
            Q. How do you collect the data and train your models?
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis
            saepe molestiae distinctio asperiores cupiditate consequuntur dolor
            ullam, iure eligendi harum eaque hic corporis debitis porro
            consectetur voluptate rem officiis architecto.
          </p>
        </div>
      </div>

      <div class="faq">
        <button class="accordion">
            Q. How do you collect the data and train your models?
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis
            saepe molestiae distinctio asperiores cupiditate consequuntur dolor
            ullam, iure eligendi harum eaque hic corporis debitis porro
            consectetur voluptate rem officiis architecto.
          </p>
        </div>
      </div>

      <div class="faq">
        <button class="accordion">
            Q. How do you collect the data and train your models?
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis
            saepe molestiae distinctio asperiores cupiditate consequuntur dolor
            ullam, iure eligendi harum eaque hic corporis debitis porro
            consectetur voluptate rem officiis architecto.
          </p>
        </div>
      </div>

      <div class="faq">
        <button class="accordion">
            Q. How do you collect the data and train your models?
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis
            saepe molestiae distinctio asperiores cupiditate consequuntur dolor
            ullam, iure eligendi harum eaque hic corporis debitis porro
            consectetur voluptate rem officiis architecto.
          </p>
        </div>
      </div>

      <div class="faq">
        <button class="accordion">
            Q. How do you collect the data and train your models?
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis
            saepe molestiae distinctio asperiores cupiditate consequuntur dolor
            ullam, iure eligendi harum eaque hic corporis debitis porro
            consectetur voluptate rem officiis architecto.
          </p>
        </div>
      </div>
    </div>

    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          this.classList.toggle("active");
          this.parentElement.classList.toggle("active");

          var pannel = this.nextElementSibling;

          if (pannel.style.display === "block") {
            pannel.style.display = "none";
          } else {
            pannel.style.display = "block";
          }
        });
      }
    </script>
  </body>
  
<footer>    
  <div class="footer">
      <div>
          <div>
              <img src="../../assets/images/logo.png" alt="logo" class="logo">
          </div>
          <div class="link-columns">
              <div>
                  <a href="#">Research</a>
                  <a href="#">Blogs</a>
                  <a href="#">Disclaimer</a>
                  <a href="#">Careers</a>
              </div>
              <div>
                  <a href="#">Privacy Policy</a>
                  <a href="#">Terms and Conditions</a>
              </div>
          </div>
  </div>
  <div class="right">
      <p class="subtext">Subscribe To Our E-Newsletter</p>
      <div class="ButtonF">
        <button type="submit">Subscribe</button> 
        </div>
      <div class="subscribe">
              <input type="email" name="email" placeholder="Write e-mail" required>
              </div>
              </div>
              </div>
          
 


  <div class="PoweredBy">
      <p>Powered By Jugaado | All Rights Reserved.</p>
  </div>
</footer>
</html>
