<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Frequently Asked Questions</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <nav>
    <div>
      <h1><a href="#"><img src="../static/images/logo.png" alt="logo"></a></h1>
    </div>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/pricing">Pricing</a></li>
      <li><a href="/faq">Help</a></li>
      <li> <a href="#" class="profile-link">
          <h6><img src='../static/images/profile.svg' alt='User'></h6>
        </a>
    </ul>

  </nav>
  <div class="wrapper">

    <h1>Subscription Packages</h1>
  </div>
  <div class="pricing-table">
    <div class="pricing-card">
      <div class="price-head">
        <h3 class="pricing-card-header">For 15 Days<br>
          Only @99</h3>
      </div>
      <div class="priceblock">
        <ul>
          <li>
            ● Get more than 5 responses of text.
          </li>
          <li>
            ● Get more than 5 responses of text.
          </li>
          <li>
            ● Get more than 5 responses of text.
          </li>
        </ul>
      </div>
      <a href="#" class="order-btn">Purchase</a>
    </div>

    <div class="pricing-card">
      <div class="price-head">
        <h3 class="pricing-card-header">For 1 Month<br>
          Only @299</h3>
      </div>
      <div class="priceblock">
        <ul style="list-style-type: circle;">
          <li>
            ● Get more than 5 responses of text.
          </li>
          <li>
            ● Get more than 5 responses of text.
          </li>
          <li>
            ● Get more than 5 responses of text.
          </li>
        </ul>
      </div>
      <a href="#" class="order-btn">Purchase</a>
    </div>
    <div class="pricing-card">
      <div class="price-head">
        <h3 class="pricing-card-header">For 6 Month<br>
          Only @1699</h3>
      </div>
      <div class="priceblock">
        <ul style="list-style-type: circle;">
          <li>
            ● Get more than 5 responses of text.
          </li>
          <li>
            ● Get more than 5 responses of text.
          </li>
          <li>
            ● Get more than 5 responses of text.
          </li>
        </ul>
      </div>
      <a href="#" class="order-btn">Purchase</a>
    </div>
  </div>
</body>

<footer>
  <div class="footer">
    <div>
      <div>
        <img src="../static/images/logo.png" alt="logo" class="logo">
      </div>
      <div class="link-columns">
        <div>
          <a href="#">Research</a>
          <a href="#">Blogs</a>
          <a href="#">Disclaimer</a>
          <a href="#">Careers</a>
        </div>
        <div>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms and Conditions</a>
        </div>
      </div>
    </div>
    <div class="right">
      <p class="subtext">Subscribe To Our E-Newsletter</p>
      <div class="ButtonF">
        <button type="submit">Subscribe</button>
      </div>
      <div class="subscribe">
        <input type="email" name="email" placeholder="Write e-mail" required>
      </div>
    </div>
  </div>




  <div class="PoweredBy">
    <p>Powered By Jugaado | All Rights Reserved.</p>
  </div>
</footer>

</html>