<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
    <link rel="stylesheet" href="../static/css/registration.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <img class="logo" src="../static/images/logo.png" alt="Logo">

    <h2 class="heading-text">REGISTER TO YOUR ACOOUNT</h2>

    <div class="input-container">
        <input class="name" type="text" id="name" placeholder="Enter Name">
    </div>
    <div class="input-container">
        <input class="email" type="email" id="email" placeholder="Enter E-mail">
    </div>
    <div class="input-container">
        <input class="password" type="password" id="password" placeholder="Enter Password">
        <img src="../static/images/open-eye.png" class="eye" onclick="togglePasswordVisibility()">
    </div>

    <button class="register-button">REGISTER</button>

    <p class="login-text">Already have an account? <a href="login.html">Login</a></p>
</body>
</html>